project:
  type: website
  output-dir: docs

website:
  title: "mylesowens"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: none
    css: styles.css
    toc: true

editor: visual
